@page "/Calculater"

@using StartCalculation.Services.ViewModels;
<div class="card mx-auto mt-5" style="width: 25rem;">
    <div class="card-header">
        StartCalculation
    </div>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label>Input1</label>
                <InputNumber @bind-Value="model.Input1" class="form-control" />
            </div>
            <div class="form-group">
                <label>Input2</label>
                <InputNumber @bind-Value="model.Input2" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary btn-block">Start</button>
        </EditForm>
    </div>
</div>
@code{
    private CalculationInsertDto model = new CalculationInsertDto();
    private void HandleValidSubmit()
    {

    }
}
