@page "/Calculation"

@inject IHttpClientFactory ClientFactory
@inject NavigationManager UriHelper

<EditForm Model="@calculationInsert" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber id="name" @bind-Value="calculationInsert.Input1" />

    <InputSelect @bind-Value="calculationInsert.Operator">
        <option value="">Select operator ...</option>
        @foreach (var item in Enum.GetValues(typeof(OperationType)))
        {
            <option value="@item">@item</option>
        }
    </InputSelect>

    <InputNumber id="name" @bind-Value="calculationInsert.Input2" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private CalculationInsertDto calculationInsert = new();
    private const string ApiUrl = "https://localhost:44350/Calculations";

    private async Task HandleValidSubmit()
    {
        var client = ClientFactory.CreateClient();
        var response = await client.PostAsync(ApiUrl, new StringContent(JsonSerializer.Serialize(calculationInsert), Encoding.UTF8, "application/json"));
        if (response.IsSuccessStatusCode)
        {
            var id = response.Headers.Location.LocalPath.Split('/')[^1];
            UriHelper.NavigateTo("Track/" + id);
        }
    }
}